<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <!-- Display for error when student has associated modules in delete student request -->
    <h1>Error Message</h1>
    <h2><%= sid %> has associated modules he/she cannot be deleted</h2>
    <!-- Home button -->
    <button onclick="window.location.href='/listStudents'">Home</button>
</body>

</html>