<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            text-align: center;
        }
        button {
            width: 100px;
            height: 30px;
            margin: 15px;
        }
    </style>
</head>

<body>
    <h1>School Database</h1>
    
    <!-- Buttons to lists of modules, students and lecturers -->
    <button onclick="window.location.href='/listModules'">List Modules</button><br>
    <button onclick="window.location.href='/listStudents'">List Students</button><br>
    <button onclick="window.location.href='/listLecturers'">List Lecturers</button>
</body>

</html>