<!DOCTYPE html>
<html>

<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Lecturers</h1>

    <!-- Button to add a lecturer-->
    <button onclick="window.location.href='/addLecturer'">Add Lecturer</button><br><br>

    <!-- Create a table to display data -->
    <table>
        <tr>
            <!-- Table Headers -->
            <th>Lecturer ID</th>
            <th>Name</th>
            <th>Dept</th>
            <th>Action</th>
        </tr>
        <!-- Display using a forEach -->
        <% lecturers.forEach((lecturer) => { %>
            <tr>
                <!-- Display data here -->
                <td><%= lecturer._id %></td>
                <td><%= lecturer.name %></td>
                <td><%= lecturer.dept %></td>
                <!-- Link to delete a lecturer -->
                <td><a href="http://localhost:3000/lecturers/delete/<%= lecturer._id %>">Delete</a></td>
            </tr>
        <% }) %>
    </table>

    <!-- Home button -->
    <br><button onclick="window.location.href='/'">Home</button>
</body>

</html>