<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <!-- Display for error when trying to display students using a invalid mid -->
    <h1>Error Message</h1>
    <h2>No such module with the id: <%= mid %></h2>
    <!-- Home button -->
    <button onclick="window.location.href='/listModules'">Home</button>
</body>

</html>